<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.klp.NewLogin</servlet-class>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
 <servlet>
 	<servlet-name>logout</servlet-name>
 	<servlet-class>com.klp.LogOut</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>logout</servlet-name>
 	<url-pattern>/LogOut</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>profile</servlet-name>
 	<servlet-class>com.klp.Profile</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>profile</servlet-name>
 	<url-pattern>/Profile</url-pattern>
 </servlet-mapping>
</web-app>